<?php

return array(
    'ldap_storage' => array(
        'group_member_attribute_name' => 'uniqueMember',
        'group_owner_attribute_name' => 'owner',
        'user_search_base_dn' => 'ou=people,o=example.org',
        'user_search_size_limit' => 20,
        'group_base_dn' => 'ou=groups,o=example.org',
        'group_search_size_limit' => 50
    ),
    
    'ldap_client' => array(
        'host' => 'ldap.example.org',
        'useSsl' => true,
        'username' => 'uid=proxy,ou=special users,o=example.org',
        'password' => 'xxx',
        'bindRequiresDn' => 'true',
        'accountCanonicalForm' => \Zend\Ldap\Ldap::ACCTNAME_FORM_DN,
        'accountFilterFormat' => '(&(objectClass=person)(uid=%s))',
        'accountDomainName' => 'example.org',
        'accountDomainNameShort' => 'example',
        'baseDn' => 'o=example.org'
    ),
    
    'tests' => array(
        'test_user_uid' => 'testuser',
        'test_user_dn' => 'uid=testuser,ou=people,o=example.org',
        'test_admin_uid' => 'admin',
        'test_group_name' => 'Test Group'
    )
);